body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}


.calculate-button {
    vertical-align: middle;
    border-style: double;
    border-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin: 32px;
}

.progress-bar {
    margin-left: 30%;
    margin-right: 30%;
    vertical-align: middle;
    text-align: center;
}

.bmi-background {
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 32px;
    font-weight: bolder;
}

form-container {
    outline: 2px;
    outline-color: aqua;
    outline-width: 2px;
}